# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Builds
dist/
cliente/dist/
server/dist/

# Env & secrets
.env
.env.*
server/.env
server/.env.*
cliente/.env
cliente/.env.*

# Tests/coverage
coverage/
cypress/videos/
cypress/screenshots/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# env files
.env
.env.*
server/.env*
cliente/.env*

server/uploads/*
!server/uploads/.gitkeep
